<div>
    <h4>Infografía jugadores</h4>
</div>
<p>
    <img id="im1" src="../../../../assets/img/messi.jpeg" alt="">
    <img id="im2" src="../../../../assets/img/cristiano.jpeg" alt="">
    <img id="im3" src="../../../../assets/img/james.jpeg" alt="">
</p>
<div>
    <button type="button" class="btn btn-success" [routerLink]="['/Messi']">Messi</button>
    <button type="button" class="btn btn-success" [routerLink]="['/Ronaldo']">Ronaldo</button>
    <button type="button" class="btn btn-success" [routerLink]="['/James']">James</button>
</div>