h4 {
    text-align: center;
    margin-top: 20px;
}

img {
    text-align: center;
    height: 367px;
    width: 245px;
}

p {
    text-align: center;
}

.btn {
    margin-left: 6%;
    margin-right: 6%;
}

div {
    text-align: center;
}