h4 {
    text-align: center;
    margin-top: 20px;
}

div {
    margin-left: 10%;
    margin-right: 10%;
}

img {
    display: block;
    margin: auto;
}

.btn {
    margin-bottom: 50px;
    float: right;
    margin-right: 10px;
}

.limpiador {
    clear: both;
}