        /* You can add global styles to this file, and also import other style files */
        
        .footer {
            position: fixed;
            background-color: #4bb543;
            color: #F3E7E7;
            text-align: center;
            left: 0;
            bottom: 0;
            width: 100%;
        }